body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../品牌达人_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:49px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../品牌达人_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:111px;
    top:190px;
    width:325px;
    height:460px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:466px;
}

.u3 {
    position:absolute;
    left:2px;
    top:222px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../品牌达人_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:110px;
    top:190px;
    width:326px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:259px;
    top:199px;
    width:50px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../品牌达人_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:121px;
    top:329px;
    width:270px;
    height:298px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:270px;
    height:298px;
}

.u8 {
    position:absolute;
    left:2px;
    top:141px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../品牌达人_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:115px;
    top:195px;
    width:60px;
    height:32px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:32px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:121px;
    top:202px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../品牌达人_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:111px;
    top:235px;
    width:109px;
    height:43px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:49px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../品牌达人_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:220px;
    top:235px;
    width:109px;
    height:43px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:49px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../品牌达人_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:329px;
    top:235px;
    width:107px;
    height:43px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:49px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../品牌达人_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:111px;
    top:278px;
    width:325px;
    height:32px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:38px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:292px;
    top:361px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:292px;
    top:420px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:292px;
    top:480px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:292px;
    top:540px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:292px;
    top:600px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

