body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../目的地列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:49px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../目的地列表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:111px;
    top:190px;
    width:325px;
    height:460px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:466px;
}

.u3 {
    position:absolute;
    left:2px;
    top:222px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../目的地列表_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:110px;
    top:190px;
    width:326px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:235px;
    top:200px;
    width:74px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../目的地列表_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:115px;
    top:195px;
    width:65px;
    height:32px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:125px;
    top:201px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../目的地列表_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:110px;
    top:235px;
    width:324px;
    height:35px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:330px;
    height:41px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:320px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../目的地列表_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:222px;
    top:361px;
    width:96px;
    height:58px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:58px;
}

.u13 {
    position:absolute;
    left:2px;
    top:21px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:134px;
    top:429px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:242px;
    top:429px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../目的地列表_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:328px;
    top:361px;
    width:99px;
    height:58px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:58px;
}

.u17 {
    position:absolute;
    left:2px;
    top:21px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:360px;
    top:433px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:118px;
    top:363px;
    width:95px;
    height:55px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u20 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:119px;
    top:277px;
    width:95px;
    height:55px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u22 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:134px;
    top:335px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:390px;
    top:234px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../目的地列表_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:60px;
    height:3px;
}

.u25 {
    position:absolute;
    left:450px;
    top:622px;
    width:60px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u26_container {
    position:absolute;
    left:226px;
    top:277px;
    width:95px;
    height:55px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u27 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:239px;
    top:335px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u29_container {
    position:absolute;
    left:334px;
    top:277px;
    width:95px;
    height:55px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u30 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:349px;
    top:335px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../目的地列表_files/u12_normal.png');
}

.u32_container {
    position:absolute;
    left:222px;
    top:539px;
    width:96px;
    height:58px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:58px;
}

.u33 {
    position:absolute;
    left:2px;
    top:21px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:134px;
    top:607px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:242px;
    top:607px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../目的地列表_files/u16_normal.png');
}

.u36_container {
    position:absolute;
    left:328px;
    top:539px;
    width:99px;
    height:58px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:58px;
}

.u37 {
    position:absolute;
    left:2px;
    top:21px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:360px;
    top:611px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u39_container {
    position:absolute;
    left:118px;
    top:541px;
    width:95px;
    height:55px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u40 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u41_container {
    position:absolute;
    left:119px;
    top:455px;
    width:95px;
    height:55px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u42 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:134px;
    top:513px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u44_container {
    position:absolute;
    left:226px;
    top:455px;
    width:95px;
    height:55px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u45 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:239px;
    top:513px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../目的地列表_files/u19_normal.png');
}

.u47_container {
    position:absolute;
    left:334px;
    top:455px;
    width:95px;
    height:55px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:95px;
    height:55px;
}

.u48 {
    position:absolute;
    left:2px;
    top:20px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:349px;
    top:513px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

