body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../活动_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:50px;
    top:49px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../活动_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:111px;
    top:190px;
    width:325px;
    height:420px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:426px;
}

.u3 {
    position:absolute;
    left:2px;
    top:202px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../活动_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:110px;
    top:190px;
    width:326px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:259px;
    top:199px;
    width:50px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../活动_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:112px;
    top:450px;
    width:325px;
    height:201px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:325px;
    height:201px;
}

.u8 {
    position:absolute;
    left:2px;
    top:92px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../活动_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:111px;
    top:470px;
    width:120px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:9px;
    width:116px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../活动_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:113px;
    top:238px;
    width:321px;
    height:199px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:199px;
}

.u12 {
    position:absolute;
    left:2px;
    top:92px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../活动_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:111px;
    top:260px;
    width:120px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:9px;
    width:116px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../活动_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:115px;
    top:195px;
    width:60px;
    height:32px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:32px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:121px;
    top:202px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

