body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../支付_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:48px;
    top:44px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../支付_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:109px;
    top:186px;
    width:325px;
    height:464px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:470px;
}

.u3 {
    position:absolute;
    left:2px;
    top:224px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../支付_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:109px;
    top:185px;
    width:326px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:220px;
    top:196px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../支付_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:296px;
    top:604px;
    width:121px;
    height:32px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:38px;
}

.u8 {
    position:absolute;
    left:2px;
    top:5px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:124px;
    top:243px;
    width:202px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:124px;
    top:277px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:124px;
    top:588px;
    width:128px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../支付_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:326px;
    height:3px;
}

.u12 {
    position:absolute;
    left:109px;
    top:425px;
    width:326px;
    height:10px;
    
}

.u13_line {
    background-image: url('../支付_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:326px;
    height:3px;
}

.u13 {
    position:absolute;
    left:109px;
    top:458px;
    width:326px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:121px;
    top:438px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:124px;
    top:311px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:124px;
    top:350px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_normal {
    background-image: url('../支付_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:115px;
    top:191px;
    width:65px;
    height:32px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:125px;
    top:197px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../支付_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:110px;
    top:484px;
    width:238px;
    height:82px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:82px;
}

.u21 {
    position:absolute;
    left:2px;
    top:33px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../支付_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:352px;
    top:484px;
    width:71px;
    height:85px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:85px;
}

.u23 {
    position:absolute;
    left:2px;
    top:34px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:323px;
    top:311px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

