body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../会员评价_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:48px;
    top:44px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../会员评价_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:109px;
    top:186px;
    width:325px;
    height:464px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:470px;
}

.u3 {
    position:absolute;
    left:2px;
    top:224px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../会员评价_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:109px;
    top:185px;
    width:326px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:220px;
    top:196px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_container {
    position:absolute;
    left:115px;
    top:236px;
    width:313px;
    height:174px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:174px;
}

.u8 {
    position:absolute;
    left:2px;
    top:79px;
    width:309px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../会员评价_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:115px;
    top:410px;
    width:155px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../会员评价_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:325px;
    top:605px;
    width:98px;
    height:32px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:38px;
}

.u18 {
    position:absolute;
    left:2px;
    top:5px;
    width:94px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:145px;
    top:606px;
    width:120px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../会员评价_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:270px;
    top:410px;
    width:158px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:120px;
    top:454px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:120px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../会员评价_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:303px;
    height:3px;
}

.u24 {
    position:absolute;
    left:119px;
    top:500px;
    width:303px;
    height:10px;
    
}

.u25 {
    position:absolute;
    left:120px;
    top:516px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:120px;
    top:542px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../会员评价_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:303px;
    height:3px;
}

.u27 {
    position:absolute;
    left:119px;
    top:562px;
    width:303px;
    height:10px;
    
}

.u28_normal {
    background-image: url('../会员评价_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:140px;
    top:452px;
    width:23px;
    height:19px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:19px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../会员评价_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:140px;
    top:515px;
    width:23px;
    height:19px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:19px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

